plotly==4.14.3
pytorch_lightning==1.0.8
tqdm==4.51.0
javalang==0.13.0
networkx==2.4
pqdm==0.1.0
urllib3==1.25.11
nltk==3.5
seaborn==0.11.0
pandas==1.1.0
jupyter_dash==0.4.0
numpy==1.18.5
torch==1.6.0
requests==2.25.0
rouge==1.0.0
dash==1.19.0
dash_core_components==1.15.0
click==7.1.2
stanza==1.1.1
dash_html_components==1.1.2
matplotlib==3.3.1
colour==0.1.5
dataclasses==0.8
python-dotenv==0.17.0
PyYAML==5.4.1
scikit_learn==0.24.1
sentence_transformers==1.0.4
slackweb==1.0.5
torch_geometric==1.6.3
torch_optimizer==0.1.0
torch_sparse==0.6.9